<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Main Index</title>
    <meta name="author" content="BrushUp Painting Company">
    <meta name="description" content="Contract Creation Page For Brushup Painting Company">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/styles.css}" rel="stylesheet">
</head>
<body>
<div id="wrapper">
    <header th:replace="~{fragments :: main-header}"></header>
    <div id="main-content">
        <aside th:replace="~{fragments :: right-menu}"></aside>
        <main id="main">
            <article>
                <p>Contract Creation Page!</p>
                <form method="post">
                    <div>
                        <label> Name : <input type="text" name="name"/></label>
                    </div>
                    <div>
                        <label> Address : <input type="text" name="address"/></label>
                    </div>
                    <div>
                        <label> Description : <input type="text" name="jobDescription"/></label>
                    </div>
                    <table class="styled-table">
                        <tr class="top-table-row">
                            <th>
                                Selected
                            </th>
                            <th>
                                Employee Id
                            </th>
                            <th>
                                First name
                            </th>
                            <th>
                                Last Name
                            </th>
                            <th>
                                Email
                            </th>
                        </tr>
                        <tr th:each="employee : ${employees}">
                            <td>
                                <input type="checkbox" th:id="${employee.id}" name="users" th:value="${employee.id}">
                            </td>
                            <td>
                                <a th:href="@{'/accounts/view/' + ${employee.id}}" th:text="${employee.id}"></a>
                            </td>
                            <td>
                                <p th:text="${employee.firstName}"></p>
                            </td>
                            <td>
                                <p th:text="${employee.lastName}"></p>
                            </td>
                            <td>
                                <p th:text="${employee.username}"></p>
                            </td>
                        </tr>
                    </table>
                    <table class="styled-table">
                        <tr class="top-table-row">
                            <th>
                                Selected
                            </th>
                            <th>
                                Customer Id
                            </th>
                            <th>
                                First name
                            </th>
                            <th>
                                Last Name
                            </th>
                            <th>
                                Email
                            </th>
                        </tr>
                        <tr th:each="customer : ${customers}">
                            <td>
                                <input type="checkbox" th:id="${customer.id}" name="users" th:value="${customer.id}">
                            </td>
                            <td>
                                <a th:href="@{'/accounts/view/' + ${customer.id}}" th:text="${customer.id}"></a>
                            </td>
                            <td>
                                <p th:text="${customer.firstName}"></p>
                            </td>
                            <td>
                                <p th:text="${customer.lastName}"></p>
                            </td>
                            <td>
                                <p th:text="${customer.username}"></p>
                            </td>
                        </tr>
                    </table>
                    <div>
                        <input type="submit" value="Add"/>
                    </div>
                </form>
            </article>
        </main>
    </div>
    <footer>
        <p><small>Copyright</small></p>
        <address>&copy;BrushUp Painting Company - Indigo Avenue 555 Paint Palace</address>
    </footer>
</div>
</body>
</html>
</html>