<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Fragments</title>
</head>
    <header th:fragment="main-header" id="main-header">
        <img th:src="@{/Images/BrushUp-Logo.png}" class="menu-logo"/>
        <div sec:authorize="isAnonymous()">
            <a th:href="@{/login}">Login</a>
            <a th:href="@{/register}">Register</a>
        </div>
        <div sec:authorize="isAuthenticated">
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Sign Out"/>
            </form>
        </div>
        <div>

        </div>
    </header>
    <aside th:fragment="right-menu" id="right-menu">
        <ul>
            <h4>BrushUp Painting Co.</h4>
            <a th:href="@{/}">About Us!</a>
        </ul>
        <ul sec:authorize="isAuthenticated()">
            <h4>Contracts</h4>
            <a th:href="@{/contracts}">Index</a>
            <a th:href="@{/contracts/add}"  sec:authorize="hasRole('ROLE_ADMIN')">Add</a>
            <a th:href="@{/contracts/delete}"  sec:authorize="hasRole('ROLE_ADMIN')">Delete</a>
        </ul>
        <ul sec:authorize="isAuthenticated()">
            <h4>Accounts</h4>
            <a th:href="@{/accounts}">Index</a>
            <a th:href="@{/accounts/add}"  sec:authorize="hasRole('ROLE_ADMIN')">Add</a>
            <a th:href="@{/accounts/delete}"  sec:authorize="hasRole('ROLE_ADMIN')">Delete</a>
        </ul>
    </aside>
</div>
</html>