<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Fragments</title>
</head>
    <header th:fragment="main-header" id="main-header">
        <a th:href="@{/}"><img th:src="@{/Images/BrushUp-Logo.png}" class="menu-logo"/></a>
        <span sec:authorize="isAnonymous()" id="login-banner">
            <a th:href="@{/login}" id="sign-in">Login</a>
            <a th:href="@{/register}" id="register">Register</a>
        </span>
        <div sec:authorize="isAuthenticated" id="logout-banner">
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Sign Out" id="sign-out"/>
            </form>
        </div>
    </header>
    <aside th:fragment="right-menu" id="right-menu">
        <ul>
            <h4>BrushUp Painting Co.</h4>
            <a th:href="@{/}">About Us!</a>
        </ul>
        <ul sec:authorize="isAuthenticated()">
            <h4>Contracts</h4>
            <a th:href="@{/contracts}">Index</a>
            <a th:href="@{/contracts/add}"  sec:authorize="hasRole('ROLE_ADMIN')">Add</a>
            <a th:href="@{/contracts/delete}"  sec:authorize="hasRole('ROLE_ADMIN')">Delete</a>
        </ul>
        <ul sec:authorize="isAuthenticated()">
            <h4>Accounts</h4>
            <a th:href="@{/accounts}">Index</a>
            <a th:href="@{/accounts/add}"  sec:authorize="hasRole('ROLE_ADMIN')">Add</a>
            <a th:href="@{/accounts/delete}"  sec:authorize="hasRole('ROLE_ADMIN')">Delete</a>
        </ul>
    </aside>
</div>
</html>